body {
  padding-top: 60px;
}

h2, p {
  text-align: center;
}

.nav-bar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  overflow-x: hidden;
  padding-top: 2px;
  left: 0;
}

.nav-bar a {
  width: calc(100% / 4);
  text-align: center;
  padding: 15px 0 15px;
  border: 2px solid black;
  background-color: lightgray;
  text-decoration: none;
  color: black;
}

iframe {
  float: right;
}

/*
.container {
  display: inline-grid;
}
 */

.container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 300px 300px;
  grid-template-areas:
  " left | middle | right"
  " bottom left | bottom middle | bottom right";
  grid-gap: 1rem;
}

@media (max-width: 600px) {
  .container div {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    " left "
    "bottom left"
    "middle"
    "bottom middle"
    "right"
    "bottom right";
  }
}

.item-a {
  grid-area: left;
  background: url('../images/whitetshirtfront.jpg') no-repeat;
  margin: 20px;
  width: 200px;
  height: 300px;
}

.item-a:hover {
  background: url('../images/whitetshirtback.jpg') no-repeat;
}

.item-b {
  grid-area: middle;
  background: url('../images/blackhoodiefront.jpg') no-repeat;
  margin: 20px;
  width: 200px;
  height: 300px;
}

.item-b:hover {
  background: url('../images/blackhoodiealt.jpg') no-repeat;
}

.item-c {
  grid-area: right;
  background: url('../images/varsityjacketfront.jpg') no-repeat;
  margin: 20px;
  width: 200px;
  height: 300px;
}

.item-c:hover {
  background: url('../images/varsityjacketside.jpg') no-repeat;
}

.item-d {
  grid-area: bottom left;
}

.item-e {
  grid-area: bottom middle;
}

.item-f {
  grid-area: bottom right
}
