body {
  font-family: serif;
}

.popup_form .survey_form h1 {
  text-align: center;
}

.btn_open {
  background-color: rgb(150, 142, 141);
  color: black;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.popup_form {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 2px solid black;
  z-index: 9;
}

.popup_form .survey_form {
    max-width: 280px;
    padding: 10px;
    background-color: white;
}

.popup_form .survey_form input[type=text],
.popup_form .survey_form input[type=email],
.popup_form .survey_form input[type=number]{
  background: rgb(232, 232, 232);
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

.popup_form .survey_form input[type=text]:focus,
.popup_form .survey_form input[type=email]:focus,
.popup_form .survey_form input[type=number]:focus{
  background-color: rgb(150, 142, 141);
  outline: none;
}

.popup_form .survey_form .btn_submit{
  background-color: rgb(14, 215, 10);
  color: white;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.popup_form .survey_form .btn_cancel {
  background-color: red;
  color: white;
  padding: 20px 30px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
}

.popup_form .survey_form .btn_submit:hover,
.popup_form .survey_form .btn_open:hover {
  opacity: 0.75;
}

.popup_form .survey_form .dropdown {
  width: 100%;
}

.popup_form .survey_form textarea {
  width: 100%;
}

/* credit to https://www.w3schools.com/howto/howto_js_popup_form.asp for base code*/
